body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

.banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: darkred;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
}

nav a:hover {
    background-color: black;
    transition: 0.3s;
}

h2 {
    text-align: center;
    font-size: 40px;
    background-color: red;
    border: 3px solid black;
    margin: 50px 0 20px;
}

.season {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.season img {
    width: 350px;
    height: 450px;
    object-fit: cover;
}

.content {
    max-width: 600px;
}

iframe {
    width: 100%;
    height: 315px;
    margin-top: 20px;
}

footer {
    background-color: #ddd;
    padding: 20px;
    margin-top: 40px;
}

.contact {
    border: 5px solid black;
    padding: ;
    text-align: center;
}
p{
    font-size:20px;
}
